.animals-wraper {
    margin-top: 50px;
}
.animals-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    h2 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
    }
    a {
        display: flex;
        width: 300px;
        border: 1.5px solid #19707D;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 10px 15px;
        p {
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #19707D;
            margin-left: 10px;
        }
    }
}
.animals-content {
    ul {
        display: flex!important;
        flex-wrap: wrap;
        position: relative;
        li {
            background: #FFFFFF;
            box-shadow: 0px 1.91572px 28.7357px rgba(0, 0, 0, 0.06);
            border-radius: 9.57858px;
            width: 350px;
            margin: 15px;
            .animals-img {
                width: 150px;
                margin-left: 30%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .animals-content-2 {
                display: flex;
                padding: 20px;
                justify-content: space-between;
                .tv-img {
                    width: 30px;
                    height: 30px;
                }
                div {
                    h5 {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17.2414px;
                        line-height: 20px;
                        color: #2D2D2D;
                    }
                    p {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13.41px;
                        line-height: 16px;
                        color: #919191;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
    .control-img-1 {
        position: absolute;
        margin-top: -370px;
        margin-left: 1150px;
        cursor: pointer;
    }
    .control-img-2 {
        cursor: pointer;
        position: absolute;
        margin-top: -320px;
        margin-left: 1150px;
    }
    .control-img-3 {
        cursor: pointer;
        position: absolute;
        margin-top: -95px;
        margin-left: 1150px;
        
    }
}
